<div class="input-group input-group-sm">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default btn-sm"
            data-toggle="tooltip" data-placement="bottom" aria-expanded="false">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </button>
  </div>
  <span class="input-group-addon text-left" style="width: 120px; text-align: left;">{{candidate.current.from}}</span>
  <input type="text" class="form-control" aria-label="..." placeholder="Click paper"
          ng-model="candidate.current.to"
          >
  <div class="input-group-btn">
    <button type="button" class="btn btn-suggested btn-sm" aria-label=""
            ng-click="addCandidate( candidate.current.from, candidate.current.to )">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</div>
