<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Active Widgets</a></li>
    <li class="divider"></li>
    <li><a href="#">About</a></li>
  </ul>

  <button type="button" class="btn btn-default" aria-expanded="false" ng-model="toolbar.active" ng-click="">
    <span class="glyphicon glyphicon-plus"></span> New
  </button>
</div>
